.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.240000px;}
._0{width:3.040000px;}
._b{width:4.920000px;}
._7{width:6.120000px;}
._c{width:10.080000px;}
._5{width:40.760000px;}
._4{width:51.720000px;}
._6{width:62.960000px;}
._3{width:73.960000px;}
._9{width:165.240000px;}
._a{width:167.440000px;}
._8{width:209.680000px;}
._2{width:227.520000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:26.000000px;}
.fs0{font-size:40.000000px;}
.fs1{font-size:48.000000px;}
.y2e{bottom:2.118999px;}
.y2c{bottom:57.606988px;}
.y2b{bottom:69.106011px;}
.y2a{bottom:80.605035px;}
.y29{bottom:92.103997px;}
.y28{bottom:103.603021px;}
.y27{bottom:115.101983px;}
.y26{bottom:126.601007px;}
.y24{bottom:138.100030px;}
.y25{bottom:141.130030px;}
.y0{bottom:157.500000px;}
.y23{bottom:161.322991px;}
.y22{bottom:195.820024px;}
.y21{bottom:207.319024px;}
.y20{bottom:230.317010px;}
.y1f{bottom:253.315020px;}
.y1e{bottom:264.814019px;}
.y1d{bottom:284.037011px;}
.y1c{bottom:313.035028px;}
.y1b{bottom:324.534020px;}
.y1a{bottom:336.033013px;}
.y19{bottom:347.532006px;}
.y18{bottom:359.030999px;}
.y17{bottom:382.254022px;}
.y16{bottom:405.252007px;}
.y15{bottom:416.751000px;}
.y14{bottom:428.250024px;}
.y13{bottom:439.749017px;}
.y12{bottom:451.248010px;}
.y11{bottom:462.747003px;}
.y10{bottom:474.246026px;}
.yf{bottom:485.745019px;}
.ye{bottom:508.968011px;}
.yd{bottom:531.966021px;}
.yc{bottom:543.465020px;}
.y3a{bottom:544.244012px;}
.y39{bottom:555.743020px;}
.yb{bottom:566.463006px;}
.y38{bottom:567.242013px;}
.y9{bottom:589.461007px;}
.ya{bottom:592.491007px;}
.y8{bottom:610.960015px;}
.y7{bottom:633.958008px;}
.y37{bottom:636.686020px;}
.y6{bottom:645.457012px;}
.y36{bottom:649.909020px;}
.y5{bottom:656.956011px;}
.y4{bottom:668.455010px;}
.y35{bottom:673.132011px;}
.y34{bottom:686.355011px;}
.y2d{bottom:689.334008px;}
.y33{bottom:699.578012px;}
.y2f{bottom:719.000000px;}
.y32{bottom:722.801011px;}
.y3{bottom:732.000012px;}
.y2{bottom:743.923013px;}
.y31{bottom:745.799012px;}
.y1{bottom:768.797013px;}
.y30{bottom:769.022014px;}
.h6{height:11.499000px;}
.h5{height:18.954102px;}
.h2{height:29.121094px;}
.h4{height:29.160156px;}
.h3{height:34.992188px;}
.h7{height:59.000000px;}
.h1{height:644.000000px;}
.h0{height:841.700012px;}
.w3{width:498.500000px;}
.w1{width:499.000000px;}
.w2{width:506.850006px;}
.w0{width:595.450012px;}
.x9{left:5.400000px;}
.x8{left:44.299999px;}
.x0{left:48.000000px;}
.x4{left:49.700001px;}
.x2{left:61.435000px;}
.x5{left:66.244001px;}
.x6{left:196.606007px;}
.x7{left:202.026997px;}
.x1{left:240.763996px;}
.x3{left:256.450001px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:1.653333pt;}
._0{width:4.053333pt;}
._b{width:6.560000pt;}
._7{width:8.160000pt;}
._c{width:13.440000pt;}
._5{width:54.346667pt;}
._4{width:68.960000pt;}
._6{width:83.946667pt;}
._3{width:98.613333pt;}
._9{width:220.320000pt;}
._a{width:223.253333pt;}
._8{width:279.573333pt;}
._2{width:303.360000pt;}
.fs2{font-size:34.666667pt;}
.fs0{font-size:53.333333pt;}
.fs1{font-size:64.000000pt;}
.y2e{bottom:2.825333pt;}
.y2c{bottom:76.809317pt;}
.y2b{bottom:92.141349pt;}
.y2a{bottom:107.473380pt;}
.y29{bottom:122.805330pt;}
.y28{bottom:138.137361pt;}
.y27{bottom:153.469311pt;}
.y26{bottom:168.801342pt;}
.y24{bottom:184.133373pt;}
.y25{bottom:188.173374pt;}
.y0{bottom:210.000000pt;}
.y23{bottom:215.097322pt;}
.y22{bottom:261.093366pt;}
.y21{bottom:276.425365pt;}
.y20{bottom:307.089347pt;}
.y1f{bottom:337.753359pt;}
.y1e{bottom:353.085359pt;}
.y1d{bottom:378.716015pt;}
.y1c{bottom:417.380037pt;}
.y1b{bottom:432.712027pt;}
.y1a{bottom:448.044018pt;}
.y19{bottom:463.376008pt;}
.y18{bottom:478.707999pt;}
.y17{bottom:509.672029pt;}
.y16{bottom:540.336010pt;}
.y15{bottom:555.668001pt;}
.y14{bottom:571.000032pt;}
.y13{bottom:586.332022pt;}
.y12{bottom:601.664013pt;}
.y11{bottom:616.996003pt;}
.y10{bottom:632.328035pt;}
.yf{bottom:647.660025pt;}
.ye{bottom:678.624015pt;}
.yd{bottom:709.288027pt;}
.yc{bottom:724.620027pt;}
.y3a{bottom:725.658683pt;}
.y39{bottom:740.990693pt;}
.yb{bottom:755.284008pt;}
.y38{bottom:756.322684pt;}
.y9{bottom:785.948009pt;}
.ya{bottom:789.988010pt;}
.y8{bottom:814.613354pt;}
.y7{bottom:845.277344pt;}
.y37{bottom:848.914693pt;}
.y6{bottom:860.609350pt;}
.y36{bottom:866.545361pt;}
.y5{bottom:875.941348pt;}
.y4{bottom:891.273347pt;}
.y35{bottom:897.509349pt;}
.y34{bottom:915.140015pt;}
.y2d{bottom:919.112011pt;}
.y33{bottom:932.770682pt;}
.y2f{bottom:958.666667pt;}
.y32{bottom:963.734681pt;}
.y3{bottom:976.000017pt;}
.y2{bottom:991.897350pt;}
.y31{bottom:994.398683pt;}
.y1{bottom:1025.062684pt;}
.y30{bottom:1025.362685pt;}
.h6{height:15.331999pt;}
.h5{height:25.272135pt;}
.h2{height:38.828125pt;}
.h4{height:38.880208pt;}
.h3{height:46.656250pt;}
.h7{height:78.666667pt;}
.h1{height:858.666667pt;}
.h0{height:1122.266683pt;}
.w3{width:664.666667pt;}
.w1{width:665.333333pt;}
.w2{width:675.800008pt;}
.w0{width:793.933350pt;}
.x9{left:7.200000pt;}
.x8{left:59.066666pt;}
.x0{left:64.000000pt;}
.x4{left:66.266668pt;}
.x2{left:81.913334pt;}
.x5{left:88.325335pt;}
.x6{left:262.141342pt;}
.x7{left:269.369329pt;}
.x1{left:321.018661pt;}
.x3{left:341.933334pt;}
}
